<% content_for :header do %>
<%= link_to @teacher.name, user_subjects_path(@teacher) %> →
Edit <%=@subject.title %>
<% end %>

<h1>Subject information</h>

<div class="messages">
  <p class="error"><%= flash[:error] %></p>
</div>  

<div class="form">          
<% form_for(@subject, :url => user_subject_path(current_user, @subject), :method => "put") do |f| %>
  <%= f.error_messages %>

  <p><%= label_tag 'title' %><br/>
  <%= f.text_field :title %></p>

  <p class="submit"><%= f.submit 'update' %></p>
  <% end -%>
</div>
