<% content_for :header do %>
<%= link_to @teacher.name, user_subjects_path(@teacher) %>
<% end %>

<h1>Your subjects</h1>
   
<ul id="list">
  <% @subjects.each do |subject| %>
  <li>
    <%= link_to subject.title, user_subject_tests_path(@teacher, subject) %>
    <div class="actions">
      <%= link_to 'edit', edit_user_subject_path(@teacher, subject) %>
      <%= link_to 'delete', user_subject_path(@teacher, subject), :confirm => 'Are you sure?', :method => :delete, :class => 'redLink' %>
    </div>
  </li>
  <% end %>   
</ul>

<% if @subjects.empty? %>
  <div class="message">
    no subjects yet :-(
  </div>
<% end %>  

<div class="links">                                     
  <%= link_to 'new subject', new_user_subject_path %>
</div>    