<h1>Title and password</h1>

<div class="form">          
  <p><%= label_tag 'Test Title' %><br/>
    <%= f.text_field :title %>
  </p>               

  <p><%= label_tag 'Access Password' %><br/>
    <%= f.password_field :password %></p>

  <p class="submit"><%= f.submit 'save →' %></p>    
</div>

<h1>Questions</h1>

<div class="form">          
  <% f.fields_for :questions do |builder| %>
    <%= render "question_fields", :f => builder %>
  <% end %>

  <p class="actions"><%= link_to_add_fields "add question", f, :questions %></p>

  <p class="submit"><%= f.submit 'save →' %></p>    
</div>                        

