<div class="leftColumn" style="width:600px !important">
  <div class="form">          
    <% f.fields_for :questions do |builder| %>
      <%= render "question_fields", :f => builder %>
    <% end %>

    <p class="actions"><%= link_to_add_fields "add question", f, :questions %></p>

    <p class="submit"><%= f.submit 'save →' %></p>    
  </div>                        
</div>

<div class="rightColumn" style="width:300px !important">
    <div class="form">          
      <p><%= label_tag 'Test Title' %><br/>
        <%= f.text_field :title %>
      </p>               

      <p><%= label_tag 'Access Password' %><br/>
        <%= f.password_field :password %></p>

      <p class="submit"><%= f.submit 'save →' %></p>    
    </div>
</div>


