<%= f.error_messages %>

<p><%= label_tag 'test title' %><br/>
  <%= f.text_field :title %>
</p>

<% f.fields_for :questions do |builder| %>
  <%= render "question_fields", :f => builder %>
<% end %>

<p><%= link_to_add_fields "Add Question", f, :questions %></p>
    
<p>
  <%= f.submit 'Save' %>
</p>
