<% content_for :header do %>
<%= link_to @teacher.name, dashboard_user_subjects_path(@teacher) %> → 
<%= link_to @subject.title, dashboard_user_subject_tests_path(@teacher, @subject) %> →
<%= link_to @test.title, before_pass_user_subject_test_path(@teacher, @subject, @test) %>
<% end %>


<h1>Enter your information</h1>

<div class="messages">
  <p class="error"><%= flash[:notice] %></p>
</div>  


<div class="form">          
  <% form_tag before_pass_user_subject_test_path(@teacher, @subject, @test) do -%>
  <p><%= label_tag 'Your name' %><br/>
  <%= text_field_tag 'test[student_name]', @student_name, :size => 30 %></p>

  <p><%= label_tag 'Class name' %><br/>
  <%= text_field_tag 'test[student_class]', @student_class, :size => 30 %></p>

  <p><%= label_tag 'Test access password' %><br/>
  <%= password_field_tag 'test[test_password]', "", :size => 30 %></p>

  <p class="submit"><%= submit_tag 'start test →' %></p>
  <% end -%>
</div>