<% content_for :header do %>
<%= link_to @teacher.name, user_subjects_path(@teacher) %> →
<%= link_to @subject.title, user_subject_tests_path(@teacher, @subject) %> →
<%= @test.title %> results 
<% end %>

<h1><%= @test.title %> results for class <%= params[:class] %></h1>

<% if @results.empty? %>
  <div class="messages">
    no results yet :-(
  </div>
<% else %>    
  <div class="all-results">
    <%= link_to 'download excel file', export_class_results_user_subject_test_path(@teacher, @subject, @test, :class => params[:class]), :target => "_blank" %>
    
    <div class="table-header">
      <label class="name">Name</label>
      <label class="count">Corrent / Incorrect</label>
      <label class="percent">Percent</label>
    </div>
    <% @results.each do |result| %>                              
    <div class="student">
      <label class="name"><%= result.user.name %></label>
      <label class="count"><%= result.correct_count %> / <%= result.incorrect_count %></label>
      <label class="percent"><%= result.percent %>%</label>
    </div>
    <% end %>
  </div>
<% end %>