<% content_for :header do %>
<%= link_to @teacher.name, user_subjects_path(@teacher) %> →
<%= link_to @subject.title, user_subject_tests_path(@teacher, @subject) %> →
<%= @test.title %> results 
<% end %>

<div class="leftColumn" style="width:900px !important">
  <h2><%= @test.title %> results </h2>
  <div class="messages">
    for class <%= params[:class] %>
  </div>

  <% if @results.empty? %>
    <div class="messages">
      no results yet :-(
    </div>
  <% else %>  
  
  <div class="all-results">
    <div class="header">
      <label class="name">Name</label>
      <label class="count">Corrent / Incorrect</label>
      <label class="percent">Percent</label>
    </div>
    <% @results.each do |result| %>                              
    <div class="student">
      <label class="name"><%= result.user.name %></label>
      <label class="count"><%= result.correct_count %> / <%= result.incorrect_count %></label>
      <label class="percent"><%= result.percent %>%</label>
    </div>
    <% end %>
  </div>
  <% end %>
</div>                       