<% content_for :header do %>
<%= link_to @teacher.name, user_subjects_path(@teacher) %> →
<%= link_to @subject.title, user_subject_tests_path(@teacher, @subject) %>
<% end %>

<h1><%= @subject.title %> tests</h1>

<ul id="list">
  <% @tests.each do |test| %>
  <li>
    <%= link_to test.title, results_user_subject_test_path(@teacher, @subject, test) %>
    <div class="actions">
      <%= link_to 'edit', edit_user_subject_test_path(@teacher, @subject, test), :title => "edit test" %>
      <%= link_to 'try test', pass_user_subject_test_path(@teacher, @subject, test) %>
      <%= link_to 'delete', user_subject_test_path(@teacher, @subject, test), :confirm => "Are you sure you want to delete #{test.title} test?", :method => :delete, :class => 'redLink', :title => "delete test" %>
    </div>
  </li>
  <% end %>   
</ul>
<% if @tests.empty? %>
  <div class="message">
    no tests yet :-(
  </div>
<% end %>  

<div class="links">                                     
  <%= link_to 'new test', new_user_subject_test_path %>
</div>    