<h1>New test</h1>

<% form_for(@test, :url => user_subject_tests_path, :method => "post") do |f| %>
  <%= f.error_messages %>
  
  <p><%= label_tag 'test title' %><br/>
    <%= f.text_field :title %>
  </p>

  <% f.fields_for :questions do |builder| %>
    <%= render "question_fields", :f => builder %>
  <% end %>
      
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', user_subject_tests_path %>