<% content_for :header do %>
<%= link_to @teacher.name, dashboard_user_subjects_path(@teacher) %> → 
<%= link_to @subject.title, dashboard_user_subject_tests_path(@teacher, @subject) %> →
<%= link_to @test.title, before_pass_user_subject_test_path(@teacher, @subject, @test) %> →
<%= current_user.name %>
<% end %>

<div class="leftColumn">
  <div class="question">
    <%= @qnumber + 1 %>. <%= @question.question %>      
    <% unless @question.image_url.blank? %>
      <p class="q-image">
       <img src="/<%= @question.image_url %>" />
      </p>
    <% end %>
  </div>
</div>
       
<div class="rightColumn">
  <div class="answers-form">          
    <% form_tag(pass_user_subject_test_path(@teacher, @subject, @test, :q => @qnumber)) do %>
      <% for a in @question.answers.all %>
        <div class="answer">
          <%= radio_button_tag "answer", a.id %> <span><%= a.answer %></span> <br/>
        </div>
      <% end %>

      <p class="submit">
        <%= submit_tag "← prev"%>
        <%= submit_tag "next →"%>
      </p>
    <% end %>
  </div>
</div>
