<% content_for :header do %>
<%= link_to @teacher.name, dashboard_user_subjects_path(@teacher) %> → 
<%= link_to @subject.title, dashboard_user_subject_tests_path(@teacher, @subject) %> →
<%= link_to @test.title, before_pass_user_subject_test_path(@teacher, @subject, @test) %> →
Your result
<% end %>

<h1>Test completed. Your result - <%= @result.percent %>%</h1>
  
<%= link_to 'try again', pass_user_subject_test_path(@teacher, @subject, @test)%>  





  

