<% content_for :header do %>
<%= link_to @teacher.name, dashboard_user_subjects_path(@teacher) %> → 
<%= link_to @subject.title, dashboard_user_subject_tests_path(@teacher, @subject) %> →
<%= link_to @test.title, before_pass_user_subject_test_path(@teacher, @subject, @test) %> →
Your result
<% end %>

<div class="leftColumn" style="width:900px !important">
  <h2>Test completed. Your result - <%= @result.percent %>%</h2>
  
  <div class="links">
    <%= link_to '<span>try again →</span>', pass_user_subject_test_path(@teacher, @subject, @test)%>  
  </div>
</div>




  

