<% content_for :header do %>
<%= link_to @teacher.name, user_subjects_path(@teacher) %> →
<%= link_to @subject.title, user_subject_tests_path(@teacher, @subject) %> →
<%= @test.title %> results 
<% end %>

<h1>Select class</h1>
                      
<ul id="list">
  <% @classes.each do |c| %>
                            
  <li><%= link_to c, class_results_user_subject_test_path(@teacher, @subject, @test, :class => c) %></li>
  <% end %>   
</ul>
<% if @classes.empty? %>
  <div class="message">
    no classes yet :-(
  </div>
<% end %>  

<!-- <table class="test_results">
  <tr>  
    <th>Student Name</th>
    <th>Correct / Incorrect</th>
    <th>Percent</th>
  </tr>   
  <% for result in []%>
    <tr>
      <td><%= result.user.name %></td>
      <td><%= result.correct_count %> / <%= result.incorrect_count %></td>
      <td><%= result.percent %>%</td>
    </td>
  <% end %>
</table> -->
