<h2><%= @test.title %></h2>
<ul style="list-style-type:decimal">
<% for q in @test.questions.all%>
<li>
  <b><%= %><%= q.question %></b>
  <div>                    
    <% for a in q.answers.all %>
    <%= radio_button_tag q.id, a.id %><%= a.answer %> <br/>
    <% end %>
  </div>
</li>
<% end %> 
</ul>                        

<%= link_to 'Edit', edit_user_subject_test_path(@teacher, @subject, @test) %> |
<%= link_to 'Back', user_subject_tests_path %>