<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html id="tests-com" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sandringham School Tests</title>
  <%= javascript_include_tag :defaults %>

  <%= stylesheet_link_tag 'sandringham' %>

  <body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0">
    <table width="959" border="0" align="center" cellpadding="0" cellspacing="0" id="home">
      <tr>
        <td colspan="6" width="959" height="193" style="background:url('/images/new_banner_wide_home.jpg')" valign="bottom">
          <div class="home_wrapper"><a href="/"></a></div>
          <div align="right" class="header-links">
    				<% if current_user && current_user.teacher? %>
    				  <%= link_to 'My Account', :controller => :admin, :action => "edit_teacher", :id => current_user.id %> | 
              <%= link_to 'My subjects', user_subjects_path(current_user) %> | 
              <%= link_to 'Sign out', logout_path %>
    				<% else %>                              
              <%= link_to 'Teachers Sign In', login_path %>                
            <% end %>
          </div>
    			
        </td>
      </tr>
      <tr>
        <td colspan="6"><img src="/images/red.gif" width="959" height="8"></td>
      </tr>
      <tr>                                    
        <td width="660" rowspan="2" valign="top">
          <div class="breadcrumbs"><%= yield :header %></div>
          <%= yield %>  	     
        </td>
        <td width="1" rowspan="2" bgcolor="#aaaaaa"><em><img src="/images/spacer.gif" width="1" height="30"></em></td>
        <td width="7" rowspan="2"><img src="/images/spacer.gif" width="3" height="30"></td>
        <td width="280" valign="top">
          <%= yield :sidebar %>  	                          
        </td></tr>
     </table>
</body>
</html>